trunk/Source/MySweetHome/MySweetHome-war/src/conf/xml-resources/web-service-references/transferService/wsdl/localhost_8080/transferService/transferService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://transferservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://transferservice/">

<xs:element name="doTransfer" type="tns:doTransfer"/>

<xs:element name="doTransferResponse" type="tns:doTransferResponse"/>

<xs:complexType name="doTransfer">
<xs:sequence>
<xs:element name="acc_number" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="transferTo" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doTransferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>